@media screen and (max-width: 1300px) {
  .main_style .cards_section {
    width: 95%;
  }
  .main_style .get_start_sec .main_get_start {
    width: 95%;
  }
  .main_style .popular_subjects .main_container_co {
    width: 100%;
  }
}
@media screen and (max-width: 1100px) {
  .main_style .get_start_sec .main_get_start .get_start_column {
    flex: 0.5;
  }
  .main_style .get_start_sec .main_get_start {
    flex-direction: column;
  }
  .main_style .get_start_sec .main_get_start .get_start_column {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main_style .get_start_sec .main_get_start .get_start_column img {
    width: 400px;
  }
}
@media screen and (max-width: 820px) {
  .main_style .uppercover {
    flex-direction: column;
  }
  .main_style .uppercover .cov_text {
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main_style .uppercover .cov_img {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .main_style .uppercover .cov_img img {
    width: 50%;
  }
  .main_style .cards_section .cards_indi:nth-child(1),
  .cards_indi:nth-child(2) {
    margin-right: 25px;
  }
  .main_style .uppercover .cov_img {
    flex-basis: auto;
  }
  .main_style .get_start_sec {
    padding: 0;
  }
}
@media screen and (max-width: 630px) {
  .main_style .uppercover .cov_img img {
    width: 90%;
  }
  .main_style .cards_section {
    flex-direction: column;
  }
  .main_style .cards_section .cards_indi:nth-child(1),
  .cards_indi:nth-child(2) {
    margin-right: 0px;
  }
  .main_style .get_start_sec .main_get_start .get_start_column img {
    width: 100%;
  }
}
@media screen and (max-width: 350px) {
  .main_style .popular_subjects .main_container_co .subject_area {
    display: block;
  }
  .main_style
    .popular_subjects
    .main_container_co
    .subject_area
    .subject_in_cards {
    margin-bottom: 15px;
  }
  .main_style .popular_subjects {
    padding: 0 12px;
  }
  .main_style
    .popular_subjects
    .main_container_co
    .subject_area
    .subject_in_cards
    .subject_head {
    height: 150px !important;
  }
}
@media screen and (max-width: 300px) {
  .main_style .uppercover .cov_text h1 {
    font-size: 30px;
  }
  .main_style .uppercover .cov_text p {
    font-size: 15px;
  }
}
@media screen and (max-width: 250px) {
  .main_style .uppercover .cov_img {
    display: none;
  }
  .main_style .uppercover .cov_text {
    flex-basis: auto;
  }
  .main_style .get_start_sec .main_get_start .get_start_column {
    display: none;
  }
  .main_style .popular_subjects .main_container_co .row_he {
    flex-wrap: wrap;
  }
}
