.main_style .upper_cover {
  width: 100%;
  padding: 60px 20px;
  background-color: #f6f6f6;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.main_style .upper_cover h1 {
  font-size: 35px;
  font-weight: 600;
  color: #a6449e;
}
.main_style .body_sec {
  font-family: "Montserrat", sans-serif;
  width: 1000px;
  margin: 80px auto;
  display: flex;
}
.main_style .body_sec .ab_column {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: Center;
  justify-content: center;
}
.main_style .body_sec .ab_column:nth-child(1) {
  margin-right: 30px;
}
.main_style .body_sec .ab_column h1 {
  margin-bottom: 25px;
  font-size: 22px;
  color: #a6449e;
  font-weight: 500;
}
.main_style .body_sec .ab_column p {
  text-align: justify;
  font-size: 15px;
}
.main_style .body_sec .ab_column img {
  width: 80%;
}
@media screen and (max-width: 1250px) {
  .main_style .body_sec {
    width: 95%;
  }
  .main_style .inde_counter .main_inde_counter {
    width: 100% !important;
  }
}
@media screen and (max-width: 670px) {
  .main_style .body_sec {
    flex-direction: column;
  }
  .main_style .body_sec .ab_column:nth-child(1) {
    margin-right: 0;
  }
  .main_style .body_sec:nth-child(3) .ab_column:nth-child(1) {
    padding-top: 25px;
    order: 2;
  }
  .main_style .body_sec:nth-child(3) .ab_column:nth-child(2) {
    order: 1;
  }
  .main_style .inde_counter .main_inde_counter .wr {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 550px) {
  .main_style .inde_counter .main_inde_counter .wr {
    display: block !important;
  }
  .main_style .inde_counter .main_inde_counter .counter_colu {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 290px) {
  .main_style .body_sec:nth-child(2) .ab_column:nth-child(2) {
    display: none;
  }
  .main_style .body_sec:nth-child(3) .ab_column:nth-child(1) {
    display: none;
  }
}
