/*Popular subjects*/

.my-card:hover{
  
  box-shadow: 0px 8px 8px 0px gray;
  transition: 0.3s;
  height: auto;
}
.main_style .popular_subjects {
  padding: 75px 0;
  width: 1200px;
  margin: 0 auto;
}
.main_style .popular_subjects .subject_area {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 25px;
  justify-content: center;
  align-items: center;
}
.main_style .popular_subjects .subject_area .subject_in_cards {
  position: relative;
  width: 100%;
  height: 360px;
  background-color: #fff;
  border: 2px solid #e8e8e8;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
.main_style .popular_subjects .subject_area .subject_in_cards:hover {
  box-shadow: 0px 0px 12px 5px #e8e8e8;
}
.main_style .popular_subjects .subject_area .subject_in_cards .subject_head {
  position: relative;
  height: 190px;
  background: linear-gradient(to right, var(--mainCovHeader), #000);
  margin-bottom: 15px;
}
.main_style
  .popular_subjects
  .subject_area
  .subject_in_cards
  .subject_head
  .teach_img {
width: 65px;
  height: 65px;
  position: absolute;
  bottom: -8px;
  right: 8px;
  border-radius: 50%;
  border: 2px solid #13a15f;
}
.main_style
  .popular_subjects
  .subject_area
  .subject_in_cards
  .subject_head
  .teach_img
  img {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 0px;
  right: 0.5px;
  border-radius: 50%;
}
.main_style
  .popular_subjects
  .subject_area
  .subject_in_cards
  .subject_head
  .subject_img {
  width: 100%;
  height: 100%;
}
.main_style
  .popular_subjects
  .subject_area
  .subject_in_cards
  .subject_head
  .subject_img
  img {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.65;
  object-fit: cover;
}
.main_style .popular_subjects .subject_area .subject_in_cards .subject_body {
  padding: 8px;
  text-align: center;
}
.main_style
  .popular_subjects
  .subject_area
  .subject_in_cards
  .subject_body
  h2 {
  font-size: 19px;
  margin-bottom: 10px;
  color: var(--h1Fontcolor);
}
.main_style .popular_subjects .al_subject_area .subject_in_cards .subject_body p {
  font-size: 15px;
  margin-bottom: 10px;
}
.main_style
  .popular_subjects
  .subject_area
  .subject_in_cards
  .subject_body
  .row_sim {
  margin-top: 12px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.main_style
  .popular_subjects
  .subject_area
  .subject_in_cards
  .subject_body
  h3 {
  font-size: 13px;
  font-weight: 500;
}
.main_style
  .popular_subjects
  .subject_area
  .subject_in_cards
  .subject_body
  h3
  i {
  margin-right: 10px;
}
.main_style .popular_subjects .al_subject_area .subject_in_cards .subject_tail {
  width: 100%;
  padding: 8px 5px;
  background-color: #eeeeee73;
  position: absolute;
  bottom: 0;
  z-index: 150;
  font-size: 12px;
}
.main_style
  .popular_subjects
  .subject_area
  .subject_in_cards
  .subject_tail
  p
  i {
  margin-right: 5px;
}
@media screen and (max-width: 1300px) {
  .main_style .popular_subjects {
    width: 100%;
    padding: 50px 25px;
  }
}
@media screen and (max-width: 370px) {
  .main_style .popular_subjects .subject_area .subject_in_cards {
    width: 100%;
    margin: 15px 0;
  }
  .main_style .popular_subjects .subject_area {
    display: block;
  }
}
@media screen and (max-width: 250px) {
  .main_style .popular_subjects .subject_area .subject_in_cards .subject_head {
    height: 150px;
  }
  .main_style .popular_subjects {
    padding: 0 5px;
  }
  .main_style .upper_cover h1 {
    font-size: 25px;
  }
}
