nav {
  position: sticky;
  width: 100%;
  padding: 28px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  top: 0;
  background-color: #fff;
  z-index: 2000;
}
nav .column {
  flex: 1;
}
nav .column .hlogo {
  font-size: 12px;
}
nav .column .hlogo a {
  text-decoration: none;
  color: #000;
}
nav .column .hlogo h1 {
  font-weight: 300;
}
nav .column .hlogo h1 span {
  font-size: 30px;
  font-weight: 600;
  color: #00bf4d;
}
nav .column:nth-child(2) {
  flex: 2;
}
nav .column:nth-child(2) .navigation ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav .column:nth-child(2) .navigation ul li {
  position: relative;
  flex: 0.3;
  margin: 0 10px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  transition: 0.5s ease-in 0s;
}
nav .column:nth-child(2) .navigation ul li a {
  text-decoration: none;
  color: #000;
  transition: 0.5s ease-in 0s;
}
nav .column:nth-child(2) .navigation ul li:before {
  display: none;
  position: absolute;
  content: "";
  width: 50%;
  height: 1.5px;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #09a347;
}
nav .column:nth-child(2) .navigation ul li:hover:before {
  display: block;
  animation: 1s bord ease;
}
@keyframes bord {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
nav .column:nth-child(2) .navigation ul li a:hover {
  color: #09a347;
}
nav .column .buttons {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}
nav .column .buttons button {
  width: 120px;
  margin: 0 8px;
  padding: 9px;
  font-size: 13px;
  border: none;
  background-color: #fff;
  font-weight: 600;
  border: 2px solid #00bf4d;
  border-radius: 5px;
  transition: 0.4s ease-in;
  cursor: pointer;
  outline: none;
}
nav .column .buttons button a {
  text-decoration: none;
  color: #000;
}
nav .column .buttons a:nth-child(2) button {
  background-color: #00bf4d;
  color: #fff;
}
nav .column .buttons button:nth-child(2) a {
  color: #fff;
}
nav .column .buttons button:nth-child(1):hover {
  background-color: #00bf4d;
  color: #fff;
}
nav .column .buttons button:nth-child(2):hover {
  background-color: #04a745;
}
nav .column .buttons button:hover a {
  color: #fff;
}
nav .column .pro_pic {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav .column .pro_pic .img {
  width: 60px;
  height: 60px;
  padding: 3px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #00bf4d;
}
nav .column .pro_pic .img img {
  width: 100%;
  height: 100%;
}
nav .column .ac_details_header {
  margin-right: 10px;
}
nav .column .ac_details_header h3 {
  font-size: 15px;
  word-wrap: break-word;
  text-align: right;
  color: #09a347;
}
nav .column .ac_details_header p {
  font-size: 13px;
  color: #9e9e9e;
}
nav .ham {
  padding: 0 20px;
  display: none;
}
nav .ham button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
nav .ham button i {
  font-size: 25px;
}
.hammenu {
  position: fixed;
  top: 93px;
  right: 0;
  background: linear-gradient(125deg, #fff, #fff, #efffef, #efffef);
  width: 300px;
  height: calc(100vh - 94px);
  padding: 10px;
  z-index: 300;
  display: none;
  overflow-y: auto;
}
.hammenu::-webkit-scrollbar {
  width: 5px;
}
.hammenu::-webkit-scrollbar-track {
  background: transparent;
}
.hammenu::-webkit-scrollbar-thumb {
  background-color: #afafaf;
  border-radius: 20px;
  border: transparent;
}
.hammenu .menham {
  height: 100%;
}
.hammenu ul li {
  margin-bottom: 15px;
  padding: 8px 0;
  border-bottom: 1px solid #8affb9;
  list-style: none;
  cursor: pointer;
  transition: 0.3s ease;
}
.hammenu ul li:hover {
  background-color: #efffef;
}
.hammenu ul a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 500;
}
.hammenu .butham {
  display: none;
}
.hammenu .buttons {
  width: 100%;
}
.hammenu .buttons button {
  width: 120px;
  margin: 0 8px 8px;
  padding: 9px;
  font-size: 13px;
  border: none;
  background-color: #fff;
  font-weight: 600;
  border: 2px solid #00bf4d;
  border-radius: 5px;
  transition: 0.4s ease-in;
  cursor: pointer;
  outline: none;
  display: inline-block;
}
.hammenu .buttons button a {
  text-decoration: none;
  color: #000;
}
.hammenu .buttons a:nth-child(2) button {
  background-color: #00bf4d;
  color: #fff;
}
.hammenu .buttons button:nth-child(2) a {
  color: #fff;
}
.hammenu .buttons button:nth-child(1):hover {
  background-color: #00bf4d;
  color: #fff;
}
.hammenu .buttons button:nth-child(2):hover {
  background-color: #04a745;
}
.hammenu .buttons button:hover a {
  color: #fff;
}
.hammenu .pro_pic {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hammenu .pro_pic .img {
  width: 60px;
  height: 60px;
  padding: 3px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #00bf4d;
}
.hammenu .pro_pic .img img {
  width: 100%;
  height: 100%;
}
.hammenu .ac_details_header {
  margin-right: 10px;
}
.hammenu .ac_details_header h3 {
  font-size: 15px;
  word-wrap: break-word;
  text-align: right;
  color: #09a347;
}
.hammenu .ac_details_header p {
  font-size: 13px;
  color: #9e9e9e;
}
